.header__title {
  margin: 0;
  padding-top: 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  background-image: linear-gradient(to right, #f8f8f8, white);
  text-transform: uppercase;
  box-sizing: border-box;
  border-top: 1px solid #d9fff5;
  padding-left: 35px;
}

.card__container {
  background-color: $gray-color;
  margin-top: 0;
  height: auto;
}

.cards-list {
  justify-content: center;
  width: auto;
  padding: 0;
  list-style: none;
  position: relative;
  left: -27px;
  top: -4px;
}

.card__item {
  background-color: #ffffff;
  flex-basis: 240px;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 8px;

  &:hover {
    border: 2px solid $wlazur-color;
    transition: opacity 0.7s;
  }

  &:first-of-type {
    margin-left: 0;
  }
}

.card__link {
  display: inline-block;
  width: 100%;
  height: 72px;
  transition: opacity 0.3s;
  background-repeat: no-repeat;
  background-position: 16px 16px, 175px 16px;
}

.hidden {
  display: none;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  );
}

.change__btn {
  border: none;
  padding-bottom: 25px;
  margin-left: 30px;
  display: flex;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: opacity 0.3s;
  cursor: pointer;
  background-color: $gray-color;

  &::before {
    content: '';
    background-image: url('/src/img/expand.png');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    margin-left: -5px;
    display: inline-block;
  }
}

.show {
  display: none;
}

@media screen and (min-width: 820px) {
  .revert::before {
    content: '';
    transform: rotate(180deg);
  }

  .change__btn {
    display: flex;
    width: 133px;
  }

  .header__title {
    width: 100%;
  }

  .card__item {
    flex-basis: 222px;
    margin: 0;
  }

  .card__link {
    width: 222px;
  }

  .cards-list {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 26px;
    position: static;
    max-width: 768px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1390px) {
  .card__item:nth-child(7),
  .card__item:nth-child(8) {
    display: block;
  }

  .card__item {
    flex-basis: 240px;
    margin: 0;
  }

  .card__link {
    width: 100%;
  }

  .cards-list {
    gap: 16px 32px;
    min-width: 1120px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.swiper {
  @media screen and (min-width: $screen-md) {
    margin: 0 auto;
  }
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  );
}
