.burger {
  background-image: url('./..//img/burgeropac.png');
}

.lenovo {
  background-image: url('./..//img/lenovo.png'), url('./..//img/go.png');
}

.samsung {
  background-image: url('./..//img/samsung.png'), url('./..//img/go.png');
}

.apple {
  background-image: url('./..//img/apple.png'), url('./..//img/go.png');
}

.viewSonic {
  background-image: url('./..//img/viewSonic.png'), url('./..//img/go.png');
}

.bosch {
  background-image: url('./..//img/bosch.png'), url('./..//img/go.png');
}

.hp {
  background-image: url('./..//img/hp.png'), url('./..//img/go.png');
}

.acer {
  background-image: url('./..//img/acer.png'), url('./..//img/go.png');
}

.sony {
  background-image: url('./..//img/sony.png'), url('./..//img/go.png');
}

.change__btn::before {
  background-image: url('./..//img/icon.png');
}

.technique-button__button::before {
  background-image: url('./..//img/icon.png');
}

.technique__link {
  background-image: url('./..//img/go.png');
}

.nextbtn__btn::before {
  background-image: url('./..//img/icon.png');
}
