@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/TTLakes-Regular\ .woff2') format('woff2'),
    url('../fonts/TTLakes-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/TTLakes-Bold\ .woff2') format('woff2'),
    url('../fonts/TTLakes-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/TTLakes-Black\ .woff2') format('woff2'),
    url('..//fonts/TTLakes-Black\ .woff') format('woff');
}
